In [1]:
from ASDM.Engine import Structure
from ASDM.Utilities import plot_time_series

class InitModel(Structure):
    def __init__(self):
        super(InitModel, self).__init__()
        self.add_stock('stock1', 10)
        self.add_flow('flow1', 'stock1/10', flow_to='stock1')
        self.add_aux('var2', equation='init(stock1)')
        # self.add_aux('var3', 'rbinom(var1, 0.4)')
        # self.add_aux('var4', 'delay1(var1, 3, 0)')
    
init_model = InitModel()
init_model.clear_last_run()
init_model.simulate(simulation_time=5, dt=1)
df_init = init_model.export_simulation_result()
df_init

Engine: adding element: stock1 equation: 10
Engine: adding element: flow1 equation: stock1/10
Engine: adding element: var2 equation: init(stock1)

    stock1    flow1  var2
0  10.0000  1.00000    10
1  11.0000  1.10000    10
2  12.1000  1.21000    10
3  13.3100  1.33100    10
4  14.6410  1.46410    10
5  16.1051  1.61051    10